pipeline/_SETTING_GDP_LATEST_PATH_.json
{
	"name": "_SETTING_GDP_LATEST_PATH_",
	"properties": {
		"activities": [
			{
				"name": "Filter_Folders",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.pl_GDP_SUB_DIR",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n    equals(item().type, 'Folder' )\n    ,\n    contains(item().name, concat(pipeline().parameters.pl_GDP_PARTIAL_DIR, '=' ))\n    )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Folders into Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter_Folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"pl_GDP_DIR": {
				"type": "string",
				"defaultValue": "EBX_COUNTRY_LIST"
			},
			"pl_GDP_SUB_DIR": {
				"type": "array"
			},
			"pl_GDP_PARTIAL_DIR": {
				"type": "string",
				"defaultValue": "EDL_LOAD_DT"
			}
		},
		"variables": {
			"FoldersIntoArray": {
				"type": "Array"
			},
			"FoldersArray": {
				"type": "String"
			},
			"FirstFolder": {
				"type": "String"
			},
			"FolderIsInNumberFormat": {
				"type": "Boolean"
			},
			"MaxFolderDate": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Pipeline"
		},
		"annotations": []
	}
}