pipeline/pl_AzuretoOracle.json
{
	"name": "pl_AzuretoOracle",
	"properties": {
		"activities": [
			{
				"name": "GET_GDP_FOLDERS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Azure_Source",
						"type": "DatasetReference",
						"parameters": {
							"ds_CONTAINER_NAME": {
								"value": "@pipeline().parameters.pl_CONTAINER_NAME",
								"type": "Expression"
							},
							"ds_GDP_FILE_DIR": {
								"value": "@pipeline().parameters.pl_GDP_DIR",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "_SETTING_GDP_LATEST_PATH_",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GET_GDP_FOLDERS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "_SETTING_GDP_LATEST_PATH_",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pl_GDP_DIR": {
							"value": "@pipeline().parameters.pl_GDP_DIR",
							"type": "Expression"
						},
						"pl_GDP_SUB_DIR": {
							"value": "@activity('GET_GDP_FOLDERS').output.childItems",
							"type": "Expression"
						},
						"pl_GDP_PARTIAL_DIR": {
							"value": "@pipeline().parameters.pl_GDP_PARTIAL_DIR",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AzuretoOracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "_SETTING_GDP_LATEST_PATH_",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@activity('_SETTING_GDP_LATEST_PATH_').output.pipelineReturnValue.GDP_LATEST_PATH",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": true,
							"partitionRootPath": {
								"value": "@concat(pipeline().parameters.pl_CONTAINER_NAME, pipeline().parameters.pl_GDP_DIR)",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_Azure_Source",
						"type": "DatasetReference",
						"parameters": {
							"ds_CONTAINER_NAME": {
								"value": "@pipeline().parameters.pl_CONTAINER_NAME",
								"type": "Expression"
							},
							"ds_GDP_FILE_DIR": {
								"value": "@pipeline().parameters.pl_GDP_DIR",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"pl_CONTAINER_NAME": {
				"type": "string",
				"defaultValue": "dev-source-data"
			},
			"pl_GDP_DIR": {
				"type": "string",
				"defaultValue": "EBX_COUNTRY_LIST/data/"
			},
			"pl_GDP_PARTIAL_DIR": {
				"type": "string",
				"defaultValue": "EDL_LOAD_DT"
			}
		},
		"folder": {
			"name": "Pipeline"
		},
		"annotations": []
	}
}